body { font-family: "PT Sans" !important; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "PT Sans" !important;
}

a { font-weight: bold; }

.mt-1 { margin-top: 1rem !important; }

.float-right { float: right; }

.is-row { margin-left: 0 !important; }

.is-active {
  cursor: text;
  color: #111;
  text-decoration: none;
}

.is-active:hover {
  color: #111;
}

#about {
  height: 180px;
  margin: 3rem 0;
}

.label.is-tertiary {
  color: #555;
  font-weight: normal;
  font-size: 0.875em;
  text-transform: none;
}

.job {margin: 2rem 0;}

.page {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 2rem !important;
}

.header {
  margin-top: 20px;
}

#photo {
  display: block;
  float: left;
  width: 200px;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
